<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="test_automation" verbose="1" parallel="classes">
    <test name="selenium_grid">
        <classes>
            <class name="selenium_grid.SeleniumGrid_Chrome"></class>
            <class name="selenium_grid.SeleniumGrid_Firefox"></class>
            <class name="selenium_grid.SeleniumGrid_Edge"></class>
        </classes>
    </test>
</suite>